
<div class="new-content">
   <div class="note-box">

    <div class="body-wrapper" id="note-body" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true">
    <p>本文、テスト<br>
ここに本文を書き込む </br>
    </p>
     </div>

  </div>
</div>
<!--  <div class="chat-body">

        <div class="content-box">
          <div class="username" type="text">
             <p>Taeko</p>
          </div>

        <input class="post-content" type="text">
        </input>
         </div> -->
