
<div class="new-content">
 <div class="note-box">
   <div class="right-box clearfix">
     <div class="inner-right-box">
   <a class="content_edit-btn" href="/posts">Post</a>
   <a class="content_edit-btn" href="/posts">Save as Draft</a>
   </div>
  </div>
  <div class="body-title">

    <textarea name="title" placeholder = "Title"></textarea>
  </div>
 <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
 <div class="body-wrapper">
    <textarea class="inner-wrapper" placeholder="Here is the beggining of your world, enjoy!"></textarea>

  </div>


  <!-- <div class="body-wrapper" id="note-body" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true">
  <p>ノート本文<br>
ここに本文を書き込む </br>
  </p>
     </div>
 -->


 </div>
</div>
<!--  <div class="chat-body">

        <div class="content-box">
          <div class="username" type="text">
             <p>Taeko</p>
          </div>

        <input class="post-content" type="text">
        </input>
         </div> -->
