<header class="header" >

</header>
<div class="new-content">
    <div class="note-box">
      <div class="right-box clearfix">
        <div class="inner-right-box">
         <li>
         <%= link_to 'Edit', "/posts/#{@posts.id}/edit", method: :get,  class: "chat-header_edit-btn" %>
         <%= link_to 'Back', "/message/#{@posts.id}/edit", method: :get,  class: "chat-header_edit-btn" %>
         </li>
        </div>
      </div>
      <div class="body-title">
        <div class="show-title">
         <p><%= @posts.name %><p>
        </div>
      </div>
      <div class="body-wrapper">
        <div class="show-post">
          <p><%= @posts.text %></p>
        </div>

    </div>
</div>
