<header class="header" >
<p>Khôra</p>
</header>
 <div class="new-content">
    <div class="note-box">
      <div class="edit-button clearfix">
        <div class="show-right-box">
        <ul style="list-style:none;">
          <li>
         <%= link_to 'Edit Your Post', "/posts/#{@posts.id}/edit", method: :get, class: "chat-header_edit-btn" %>
         </li>
        </ul>
        </div>
      </div>

      <div class="body-title">
        <div class="show-title">
         <p><%= @posts.name %><p>
        </div>
      </div>
       <div class="show-images">
         <%= image_tag @posts.image %>
        </div>

      <div class="body-wrapper">

        <div class="show-post">
         <br><%= simple_format(@posts.text) %></br>
        </div>
      </div>
    </div>
 </div>
