

/*チャット相手選ぶノートページ*/

.select-chat-user h1 {
  padding-top: 130px;
  font-size: 25px;
  font-family: YuMincho;
  color:#fff;
}

.new_note {
  font-size: 18px;
  font-family: YuMincho;
  color:#fff;
}

.inner-right-box-new {
  float: right;
}


.show-images img {
    width: 771px;
    height: 430px;
    margin-bottom: 40px;
}


/*
ここからindexページ
*/
html {
background:url(natural-paper.png) #e9d6b7;
height: 100%;
}

body {
background:url(natural-paper.png) #e9d6b7;
margin: 0;
padding: 0;
height: 100%;
width: 100%;

}

header img {
   width: 40px;

}

.header {
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.header p {
  font-family: "Courier New", Courier, monospace;
  padding-top: 15px;
  font-size: 20px;
  margin-top: 0px;
}

.chat {
  min-width: 980px;
  height: 100%;
}


.chat-side{
  width: 300px;
  height:100vh;
  background:url(black-paper.png) #e9d6b7;
  float: left;

}


.chat-user {
  padding: 20px;
  color: #fff;
  background:url(black-paper.png) #9e977b;
  height: 60px;
}

.sidebarBtn {
  margin:-90px;

  }

/*   position: absolute;
    width: 40px;
    height: 40px;
   margin-left: 160px;
    margin-top: -15px;
    box-sizing: border-box;
    cursor: pointer;
    background: #ecdbc0;
    border: none;
    outline: none;
    z-index: 1;
}

.sidebarBtn span {
  display: block;
  width: 25px;
  height: 2px;
  background: #262626;
  position:absolute;
  transition: .3s;
}

.sidebarBtn span:before {
 content: '';
 position: absolute;
 top: -10px;
 left: 0;
 width: 100%;
 height: 2px;
 background: #262626;
 transition: .3s;
 left: 0;
}

.sidebarBtn span:after {
 content: '';
 position: absolute;
 top: 10px;
 left: 0;
 width: 100%;
 height: 2px;
 background: #262626;
 transition: .3s;
 left: 0;

}

.active {
 width: -300px;
position: relative;
  height:100vh;
  background:url(black-paper.png) #e9d6b7;
  float: left;
  left: -180px;
}

*/
.chat-user h2 {
  float: left;
  line-height: 60px;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
}

.chat-user_actions {
  float:right;
}

.chat-user_action {
  display: inline-block;
  margin: 15px 0 15px 3px;
  line-height: 28px;
  color: #fff;
  font-size: 20px;
}

a {
    text-decoration: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    color:black;
}

ul {
  list-style: none;
}

li {
 display: list-item;
 text-align: -webkit-match-parent;
}

ul.chat-groups {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 40px;
  font-size: 20px;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

ul.chat-groups {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 40px;
  font-size: 20px;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}


.chat-group_link {
  display: block;
  padding: 20px, 20px;
  color: #fff;
}

.chat-group_name p {
 display: inline-block;
 font-size: 20px;
 margin-bottom: 5px;

}

.chat-group_message {
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
}

#MonthCal {
margin-top: 165px;

}

.chat-main {
  float: left;
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
}

.chat-header {

  padding-right: 40px;
  padding-left:  40px;
  background-color: #fff;
  background:url(natural-paper.png) #d9c8a9;
}

.chat-header p {
  font-size: 20px;
  padding-top: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-top: 20px;
  float: left;
}


.chat-header_left {
 float: left;
}
.chat-header h3 {
  margin-top:20px;
  line-height: 50px;
  letter-spacing: 2px;
  font-size: 20px;
  color: #333;
  font-weight: 400;
}

.chat-header_right {
 float: right;

}

.chat-header_edit-btn {
display: inline-block;
margin: 28px 0;
padding-right: 20px;
padding-left: 20px;
line-height: 40px;
color: #38aef0;
background-color: #fff;
font-size: 14px;
border: 2px solid
}


.chat-body {
  /*position: relative;*/
  padding-top: 30px;
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.content-box {
  /*display: box;*/
  width: 600px;
  height: 200px;
  background:url(natural-paper.png) #f2ead7;
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 200px;
  display: inline-block;

}

.message-images img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: -200px;
    margin-left: 150px;
    padding-top: 10px;
}

ul.more_list {
    float: right;
    margin: 0 auto;
    font-size: 13px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
          }

ul.more_list li{
    padding: 7px;
    border: 1px solid;
}


span.name a {
 font-size: 16px;
 width:50px;
}


.post-content p {
/*  padding-top: 100px;*/
    font-size: 18px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 25px;
    font-size: 25px;
}



.chat-body input {
 display: inline-block;
 /*margin: 10px 10px 10px 200px;*/
top: 40px;
left: 30px;
 width: 460px;
 height: 120px;
 padding: 10px;
 border-color: grey;
 position:relative;

}



.username {
/*
 color: #14171a;
 font-size: 14px;
 font-weight: bold;*/
 display: inline-block;
 padding: 10px;
 margin: auto;
 width: 50px;
 height: 20px;
 border-color: grey;
 position: absolute;
}

.username p {
  margin: 0 auto;
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  width: 70px;
  font-color: #000;

}



li {
  display: list-item;
  text-align: -webkit-match-parent;
}


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}



/*ここから新規投稿画面*/

.new-content {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.body-wrapper p {
  font-size: 16px;
  margin: 10px;
  text-align: left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.note-box {
  background:url(natural-paper.png) #e9d6b7;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
/*  border: 1px solid;
  border-color: grey;*/
  overflow-y: scroll;
}

.note-box i {
  margin-left: 2px;
  margin-bottom: 40px;
  position:relative;
}
.note-box-inner {
  width: 70%;
  float: left;

}

.title-and-body {
  margin-right: 300px;

}

.body-title textarea {
  background: url(natural-paper.png) #f2ead7;
  text-align: left;
  width:750px;
  height: 100px;
  border-style: none;
  color: black;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 300px;
  font-size:20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-top: 45px;
  padding-left: 10px;

}

.body-title p {
  font-size:20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-top: 45px;
  padding-left: 10px;

}


.body-wrapper textarea {
  background: url(natural-paper.png) #f2ead7;
  padding: 10px;
  margin: auto;
  margin-left: 300px;
  width: 750px;
  height: 566px;
  border:none;
  overflow-y: scroll;
  color: #696969;
  font-size:17px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;


}

.right-box {
  margin-top: 28px;
  margin-right: 100px;
}

.inner-right-box li {
  float: right;
  padding-right: 40px;
  margin-top: 40px;
  font-size: 20px;
}




.content_edit-btn {
display: inline-block;
padding-right: 20px;
padding-left: 20px;
line-height: 40px;
background-color: white;
color: #38aef0;
font-size: 14px;
border: 2px solid;

}

.fa-2x {
  font-size: 2em;
  padding: 5px 15px;
}


.fa-pencil-square-o:before {
  content: "\f044";
}

.fa-picture-o:before {
  content: "\f03e";
}


.fa-user-o:before {
  content: "\f2c0";
}


.fa-file-text-o:before {
  content: "\f0f6";
}

/*posts/show*/

.edit-button {
  margin-top: 28px;
  margin-right: 100px;
}

.show-right-box li {
  float: right;
  padding-right: 40px;
  margin-top: 40px;
  font-size: 20px;
}

.show-post {
  background-color: #fff;
  padding: 10px;
  margin: auto;
  width: 750px;
  height: 570px;
  border:none;
  overflow-y: scroll;
  color: #696969;
  font-size: 17px;
}



.show-title {
  background-color: #fff;
  font-size: 20px;
  text-align: left;
  width: 768px;
  height: 100px;
  border-style: none;
  margin-bottom: 40px;
  color: black;
  margin-left: 336px;
  font-size: 20px;

}

footer {
  width: 20%;
/*  border: 1px solid #000;*/
  float: right;
  height: 709px;
  position: absolute;
  right: 0;
}
.footer-inner {

}
.footer-inner-float {
  margin-top: 70px;
  margin-right: 129px;
}

#post_image[type="file"]{
  display: none;
}

/*edit page */
.edit-images img {
    width: 771px;
    height: 430px;
    margin-bottom: 40px;
    margin-left: 300px;
}




/*ここからsign_upページ*/

.background-registrations {
width: 100%;
height: 100%;
background-image: url("pexels.jpeg");
background-size: cover;
}


.contents{
  height: 100%;
  text-align: center;

}

.contents h2 {
text-align: center;
letter-spacing: 1px;
font-size: 25px;
padding-top: 100px;
padding-bottom: 20px;

}


.new_user {

letter-spacing: 1px;
text-align: center;

}

.new_user input {
  margin-bottom: 15px;
  border-radius: 3px;
    background-color: white;
  padding: 5px;
  border: none;
}

.contents a {
  padding: 10px;
}

.contents-row {
    text-align: center;
    padding-top: 162px;
    float: left;
    padding-left: 120px;
    font-size: 16px;


}

.contents-row h2 {
  font-size: 20px;
  padding-bottom: 30px;
  color: #fff;
}

.introduction p {
  float:right;
  font-size: 20px;
  padding-right: 200px;
  padding-top: 140px;
  line-height: 50px;
  font-family: YuMincho;
  color: #fff;

}


.field {
  color: #fff;
}



/*
---------------------------------------------------------------------------*/


@media(max-width: 375px) {


/*チャット相手選ぶノートページ*/

.background-registrations {

width: 100%;
height: 100%;
background-image: url("pexels-iphone6.jpg");
background-size: cover;
}

.select-chat-user h1 {
  padding-top: 130px;
  font-size: 20px;
  font-family: YuMincho;
}

.new_note {
  font-size: 15px;
  font-family: YuMincho;
}

.inner-right-box-new {
  float: right;
}


/*ここからsign_up/in ページ */

.contents{
  height: 100%;
  text-align: center;
}

.contents a {
  padding: 10px;
}

.contents h2 {
text-align: center;
letter-spacing: 1px;
font-size: 25px;
padding-top: 100px;
padding-bottom: 20px;

}

.contents-row {
    text-align: center;
    float: left;
    padding-left: 107px;
    font-size: 12px;
    padding-top: 0;
    margin-top: 58px;
}

.contents-row h2 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #fff;
}


.new_user {

letter-spacing: 1px;
text-align: center;
}


.new_user input {
  margin-bottom: 5px;
  font-color: #fff;
  background-color: white;
  padding: 5px;
  border: none;

  /*border-radius: 3px;*/
}


.introduction p {
    padding: 0;
    float: right;
    font-size: 14px;
    line-height: 20px;
    font-family: YuMincho;
    color: #fff;


}


.field {
  color: #fff;
}


/*/*/
/*ここから新規投稿画面*/

.new-content {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.body-wrapper p {
  font-size: 16px;
  margin: 10px;
  text-align: left;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.note-box {
  background:url(natural-paper.png) #e9d6b7;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid;
  border-color: grey;
  overflow-y: scroll;
}

.note-box i {
  margin-left: 2px;
  margin-bottom: 40px;
  position:relative;
}
.note-box-inner {
  width: 70%;
  float: left;

}

.title-and-body {
  margin-right: 300px;

}

.body-title textarea {
    background: url(natural-paper.png) #f2ead7;
    text-align: left;
    width: 315px;
    height: 45px;
    border-style: none;
    color: black;
    margin-top: 0px;
    margin-bottom: 23px;
    margin-left: 23px;
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 16px;
    padding-left: 10px;
}

.body-title p {
  font-size:20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-top: 15px;
  padding-left: 10px;

}


.body-wrapper textarea {
  background: url(natural-paper.png) #f2ead7;
  padding: 10px;
  margin: auto;
  margin-left: 23px;
  width: 306px;
  height: 439px;
  border:none;
  overflow-y: scroll;
  color: #696969;
  font-size:17px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;


}
.right-box {
    margin-top: 10px;
    margin-right: 21px;
}

.inner-right-box li {
  float: right;
  padding-right: 40px;
  margin-top: 40px;
  font-size: 20px;
}




.content_edit-btn {
display: inline-block;
padding-right: 20px;
padding-left: 20px;
line-height: 40px;
background-color: white;
color: #38aef0;
font-size: 14px;
border: 2px solid;

}

.fa-2x {
  font-size: 2em;
  padding: 5px 15px;
}


.fa-pencil-square-o:before {
  content: "\f044";
}

.fa-picture-o:before {
  content: "\f03e";
}


.fa-user-o:before {
  content: "\f2c0";
}


.fa-file-text-o:before {
  content: "\f0f6";
}



/*message index ページ*/

header img {
   width: 40px;

}

.header {
  width: 100%;
  height: 30px;
  background-color: #fff;
}

.header p {
  font-family: "Courier New", Courier, monospace;
  padding-top: 8px;
  font-size: 13px;
  margin-top: 0px;
}

.chat {
 /* width: 375px;*/
  height: 100%;
}

.chat-side{
  position: relative;
  z-index: 3;
  width: 180px;
  height:100vh;
  background:url(black-paper.png) #e9d6b7;
  float: left;

}

.sidebarBtn {
    position: absolute;
    width: 40px;
    height: 40px;
   margin-left: 160px;
    margin-top: -15px;
    box-sizing: border-box;
    cursor: pointer;
    background: #ecdbc0;
    border: none;
    outline: none;
    z-index: 1;
}

.sidebarBtn span {
  display: block;
  width: 25px;
  height: 2px;
  background: #262626;
  position:absolute;
  transition: .3s;
}

.sidebarBtn span:before {
 content: '';
 position: absolute;
 top: -10px;
 left: 0;
 width: 100%;
 height: 2px;
 background: #262626;
 transition: .3s;
 left: 0;
}

.sidebarBtn span:after {
 content: '';
 position: absolute;
 top: 10px;
 left: 0;
 width: 100%;
 height: 2px;
 background: #262626;
 transition: .3s;
 left: 0;

}

.active {
 width: -300px;
position: relative;
  height:100vh;
  background:url(black-paper.png) #e9d6b7;
  float: left;
  left: -180px;
}


.chat-user {
  padding: 20px;
  color: #fff;
  background:url(black-paper.png) #9e977b;
  height: 60px;
}

.chat-user h2 {
  float: left;
  line-height: 60px;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
}

.chat-user_actions {
  float:right;
}

.chat-user_action {
  display: inline-block;
  margin: 15px 0 15px 3px;
  line-height: 28px;
  color: #fff;
  font-size: 20px;
}

a {
    text-decoration: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 12px;
    color: black;
    margin: 5px;
}

ul {
  list-style: none;
}

li {
 display: list-item;
 text-align: -webkit-match-parent;
}

ul.chat-groups {
      height: 1px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 40px;
  font-size: 20px;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}



.chat-group_link {
  display: block;
  padding: 20px, 20px;
  color: #fff;
}

.chat-group_name p {
 display: inline-block;
 font-size: 20px;
 margin-bottom: 5px;

}

.chat-group_message {
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
}

.calendar {
    width: 180px;
    height: 261px;
}


#MonthCal {
margin-top: 175px;

}

.chat-main {
  float: left;
  position: relative;
  height: 100%;
}

.chat-header {
  height: 52px;
  width: 325px;
  padding-right: 0px;
  padding-left: 52px;
  margin-left: -181px;
  background-color: #fff;
  background:url(natural-paper.png) #d9c8a9;
}

.chat-header p {
  font-size: 15px;
  padding-top: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-top: 0px;
  float: left;
}


.chat-header_left {
 float: left;
}
.chat-header h3 {
  margin-top:20px;
  line-height: 50px;
  letter-spacing: 2px;
  font-size: 20px;
  color: #333;
  font-weight: 400;
}

.chat-header_right {
 float: right;
 margin-top: -21px;
 margin-right: 10px;

}

.chat-header_edit-btn {
display: inline-block;
margin: 28px 0;
padding-right: 20px;
padding-left: 20px;
line-height: 40px;
color: #38aef0;
background-color: #fff;
font-size: 14px;
border: 2px solid;
}


.chat-body {
    position: relative;
    width: 350px;
    padding-top: 0px;
    margin-left: -171px;
    height: calc(100vh - 130px);
    overflow-y: scroll;
}

.content-box {
    width: 214px;
    height: 100px;
    background: url(natural-paper.png) #f2ead7;
    position: relative;
    margin-top: 10px;
    margin-bottom: 14px;
    margin-left: 116px;
    display: inline-block;

}

.message-images img {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 15px;
}

ul.more_list {
    float: right;
    margin: 0 auto;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
          }

ul.more_list li{
    padding: 0px;
    border: 1px solid;
}



span.name a {
 font-size: 16px;
 width:50px;
}


.post-content p {
    padding-top: 100px;
    font-size: 10px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 25px;
    font-size: 25px;
}




.chat-body input {
 display: inline-block;
 /*margin: 10px 10px 10px 200px;*/
top: 40px;
left: 30px;
 width: 460px;
 height: 120px;
 padding: 10px;
 border-color: grey;
 position:relative;

}



.username {
 color: #14171a;
 font-size: 14px;
 font-weight: bold;
 display: inline-block;
 padding: 10px;
 margin: auto;
 width: 50px;
 height: 20px;
 border-color: grey;
 position: absolute;
}

.username p {
  font-size: 15px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  width: 70px;

}



li {
  display: list-item;
  text-align: -webkit-match-parent;
}


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/*posts/show*/

.edit-button {
    margin-bottom: -44px;
    margin-right: 0;
    margin-top: -43px;
}

.show-right-box li {
  float: right;
  padding-right: 1px;
  margin-top: 1px;
  font-size: 20px;
}


.show-title {
  background-color: #fff;
  font-size: 20px;
  text-align: left;
  width: 315px;
  height: 50px;
  border-style: none;
  margin-bottom: 20px;
  color: black;
  margin-left: 30px;

}


.show-images img {
    width: 315px;
    height: 200px;
    margin-bottom: 20px;
}

.show-post {
  background-color: #fff;
  padding: 10px;
  margin: auto;
  width: 300px;
  height: 570px;
  border:none;
  overflow-y: scroll;
  color: #696969;
  font-size: 17px;
}

#post_image[type="file"]{
  display: none;
}


/*edit page */

.note-box-inner {
  margin-top: 100px;
}

.edit-images img {
    width: 327px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 23px;
}

footer {
  width: 20%;
  float: right;
  height: 709px;
  position: absolute;
  right: 0;
}

.footer-inner-float {
  margin-top: 10px;
  margin-right: 129px;
}

.footer-inner-float i {
  margin-bottom: 0;
}

.footer-inner-float input {
margin-left: -42px;
}


} /*@media iphoneの閉じたぐ*/







